## Mme total & llm's

### Creating 98 dataset

In [1]:
# reading datasets

import pandas as pd

df_mme = pd.read_csv('mme_98_dataset.csv')

In [2]:
df_mme.shape

(490000, 31)

In [3]:
df_llm = pd.read_csv('llm_dataset.csv')

In [4]:
df_llm.shape

(325652, 31)

In [ ]:
# randomly keeping 10.000 rows of LLM needed
# 10.000 rows = 10.000 / 2 = 5000 unique responseID's

In [38]:
# randomly keep 5000 unique responseID's LLM dataset

# Getting unique UserIDs
Response_unique = df_llm['ResponseID'].unique()
print(len(Response_unique))  # should be 325652/2 = 162826

# Selecting 25000 UserIDs from the unique set
Response_keep_llm = pd.Series(Response_unique).sample(n=5000, random_state=42)
print(len(Response_keep_llm))  # should be 5000

162826
5000

In [39]:
df_llm.head()

,ResponseID,UserID,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,Saved,Man,Woman,Pregnant,Stroller,OldMan,OldWoman,Boy,Girl,Homeless,LargeWoman,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,res_00000000,1,0,0,1,0,Hoomans,Species,3,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
1,res_00000000,1,1,0,0,0,Pets,Species,3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2
2,res_00000001,1,0,0,1,0,Male,Gender,2,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0
3,res_00000001,1,1,0,0,2,Female,Gender,2,0,1,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0
4,res_00000002,1,1,1,0,2,Young,Age,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [40]:
df_llm_sub = df_llm[df_llm['ResponseID'].isin(Response_keep_llm)]

In [41]:
df_llm_sub.shape

# should be 50000 rows

(10000, 31)

In [42]:
# concatanating the datasets, with mme after llm cause of ResponseID, and resetting the index

df_concat = pd.concat([df_llm_sub, df_mme], axis=0)
df_total_complete = df_concat.reset_index(drop=True)

In [ ]:
df_total_complete.shape # should be 500.000 and 31 cols

(500000, 31)

In [44]:
df_total_complete.duplicated().sum()

0

In [45]:
df_total_complete.head()

,ResponseID,UserID,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,Saved,Man,Woman,Pregnant,Stroller,OldMan,OldWoman,Boy,Girl,Homeless,LargeWoman,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,res_00000012,1,0,1,0,1,Female,Gender,2.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,res_00000012,1,1,1,0,2,Male,Gender,2.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,res_00000089,1,0,0,1,0,Less,Utilitarian,4.0,1.0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,res_00000089,1,1,0,0,1,More,Utilitarian,5.0,1.0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,res_00000103,1,1,1,0,0,Young,Age,2.0,0.0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [46]:
df_total_complete.tail()

,ResponseID,UserID,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,Saved,Man,Woman,Pregnant,Stroller,OldMan,OldWoman,Boy,Girl,Homeless,LargeWoman,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
499995,res_01018561,0,1,1,0,0,More,Utilitarian,5.0,2.0,1,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
499996,res_01018562,0,1,1,0,0,Young,Age,3.0,0.0,1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
499997,res_01018563,0,1,1,0,1,Female,Gender,3.0,0.0,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
499998,res_01018564,0,1,0,1,0,Old,Age,4.0,0.0,0,0.0,0.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
499999,res_01018565,0,1,0,1,0,Less,Utilitarian,4.0,1.0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0

In [47]:
df_total_complete.columns

Index(['ResponseID', 'UserID', 'Intervention', 'PedPed', 'Barrier',
       'CrossingSignal', 'AttributeLevel', 'ScenarioTypeStrict',
       'NumberOfCharacters', 'DiffNumberOFCharacters', 'Saved', 'Man', 'Woman',
       'Pregnant', 'Stroller', 'OldMan', 'OldWoman', 'Boy', 'Girl', 'Homeless',
       'LargeWoman', 'LargeMan', 'Criminal', 'MaleExecutive',
       'FemaleExecutive', 'FemaleAthlete', 'MaleAthlete', 'FemaleDoctor',
       'MaleDoctor', 'Dog', 'Cat'],
      dtype='object')

In [48]:
# check distribution of the target variable (UserID)

df_total_complete['UserID'].value_counts(normalize=True)

UserID
0    0.98
1    0.02
Name: proportion, dtype: float64

In [49]:
# showing all the columns
pd.set_option('display.max_columns', None)

In [50]:
df_total_complete['ResponseID'].value_counts().min()

2

In [51]:
df_total_complete['ResponseID'].value_counts().max()

2

In [52]:
dupli = df_total_complete.duplicated().sum()

In [53]:
print(f"Number of duplicates: {dupli}")

Number of duplicates: 0

In [54]:
# checking the missing values

df_total_complete.isnull().sum().sum()

# there are no missing values in the dataset

0

In [55]:
# randomly shuffling the dataset so that not all llm's are on top of the dataset

df_total = df_total_complete.sample(frac=1, random_state=42).reset_index(drop=True)

In [56]:
df_total.head()

,ResponseID,UserID,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,Saved,Man,Woman,Pregnant,Stroller,OldMan,OldWoman,Boy,Girl,Homeless,LargeWoman,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,res_00805974,0,1,0,1,0,Male,Gender,2.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,res_00839224,0,1,1,0,1,Fit,Fitness,4.0,0.0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0
2,res_00841932,0,0,1,0,0,Less,Utilitarian,4.0,1.0,0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,res_00834547,0,1,1,0,1,Pets,Species,4.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0
4,res_00986582,0,0,0,1,0,Female,Gender,3.0,0.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0

In [57]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 31 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   ResponseID              500000 non-null  object
 1   UserID                  500000 non-null  int64
 2   Intervention            500000 non-null  int64
 3   PedPed                  500000 non-null  int64
 4   Barrier                 500000 non-null  int64
 5   CrossingSignal          500000 non-null  int64
 6   AttributeLevel          500000 non-null  object
 7   ScenarioTypeStrict      500000 non-null  object
 8   NumberOfCharacters      500000 non-null  float64
 9   DiffNumberOFCharacters  500000 non-null  float64
 10  Saved                   500000 non-null  int64
 11  Man                     500000 non-null  float64
 12  Woman                   500000 non-null  float64
 13  Pregnant                500000 non-null  float64
 14  Stroller                500000 non-null  float64
 15  OldMan                  500000 non-null  float64
 16  OldWoman                500000 non-null  float64
 17  Boy                     500000 non-null  float64
 18  Girl                    500000 non-null  float64
 19  Homeless                500000 non-null  float64
 20  LargeWoman              500000 non-null  float64
 21  LargeMan                500000 non-null  float64
 22  Criminal                500000 non-null  float64
 23  MaleExecutive           500000 non-null  float64
 24  FemaleExecutive         500000 non-null  float64
 25  FemaleAthlete           500000 non-null  float64
 26  MaleAthlete             500000 non-null  float64
 27  FemaleDoctor            500000 non-null  float64
 28  MaleDoctor              500000 non-null  float64
 29  Dog                     500000 non-null  float64
 30  Cat                     500000 non-null  float64
dtypes: float64(22), int64(6), object(3)
memory usage: 118.3+ MB

In [58]:
# Get the maximum float value across the entire DataFrame (ignoring non-numeric columns)
max_value = df_total.select_dtypes(include=['float', 'int']).max().max()

print(f'Highest number in the dataset: {max_value}')

# can do int8 cause the max value is 5

Highest number in the dataset: 5.0

In [59]:
# change datatypes of the columns

# Convert all float64 and int64 columns to int8
df_total = df_total.astype({col: 'int8' for col in df_total.select_dtypes(include=['float64', 'int64']).columns})

# Convert all object columns to category
df_total = df_total.astype({col: 'category' for col in df_total.select_dtypes(include=['object']).columns})

In [60]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 31 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   ResponseID              500000 non-null  category
 1   UserID                  500000 non-null  int8
 2   Intervention            500000 non-null  int8
 3   PedPed                  500000 non-null  int8
 4   Barrier                 500000 non-null  int8
 5   CrossingSignal          500000 non-null  int8
 6   AttributeLevel          500000 non-null  category
 7   ScenarioTypeStrict      500000 non-null  category
 8   NumberOfCharacters      500000 non-null  int8
 9   DiffNumberOFCharacters  500000 non-null  int8
 10  Saved                   500000 non-null  int8
 11  Man                     500000 non-null  int8
 12  Woman                   500000 non-null  int8
 13  Pregnant                500000 non-null  int8
 14  Stroller                500000 non-null  int8
 15  OldMan                  500000 non-null  int8
 16  OldWoman                500000 non-null  int8
 17  Boy                     500000 non-null  int8
 18  Girl                    500000 non-null  int8
 19  Homeless                500000 non-null  int8
 20  LargeWoman              500000 non-null  int8
 21  LargeMan                500000 non-null  int8
 22  Criminal                500000 non-null  int8
 23  MaleExecutive           500000 non-null  int8
 24  FemaleExecutive         500000 non-null  int8
 25  FemaleAthlete           500000 non-null  int8
 26  MaleAthlete             500000 non-null  int8
 27  FemaleDoctor            500000 non-null  int8
 28  MaleDoctor              500000 non-null  int8
 29  Dog                     500000 non-null  int8
 30  Cat                     500000 non-null  int8
dtypes: category(3), int8(28)
memory usage: 26.2 MB

In [61]:
# resetting index
df_total = df_total.reset_index(drop=True)

In [62]:
df_total.head()

,ResponseID,UserID,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,Saved,Man,Woman,Pregnant,Stroller,OldMan,OldWoman,Boy,Girl,Homeless,LargeWoman,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,res_00805974,0,1,0,1,0,Male,Gender,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0
1,res_00839224,0,1,1,0,1,Fit,Fitness,4,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2,0,0,0,0
2,res_00841932,0,0,1,0,0,Less,Utilitarian,4,1,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0
3,res_00834547,0,1,1,0,1,Pets,Species,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2
4,res_00986582,0,0,0,1,0,Female,Gender,3,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,2,0,0,0,0,0

In [63]:
# saving the dataset
df_total.to_csv('total_98_dataset.csv', index=False)

### Creating 50 dataset

In [64]:
# reading datasets

import pandas as pd

df_mme_50 = pd.read_csv('mme_50_dataset.csv')

In [65]:
df_mme_50.shape

(250000, 31)

In [66]:
df_llm = pd.read_csv('llm_dataset.csv')

In [67]:
df_llm.shape

(325652, 31)

In [ ]:
# randomly keeping 250.000 rows of LLM
# 250.000 rows = 250.000 / 2 = 125000 unique responseID's

In [68]:
# randomly keep 125000 unique responseID's LLM dataset

# Getting unique UserIDs
Response_unique = df_llm['ResponseID'].unique()
print(len(Response_unique))  # should be 325652/2 = 162826

# Selecting 125000 UserIDs from the unique set
Response_keep_llm = pd.Series(Response_unique).sample(n=125000, random_state=42)
print(len(Response_keep_llm))  # should be 125000

162826
125000

In [69]:
df_llm.head()

,ResponseID,UserID,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,Saved,Man,Woman,Pregnant,Stroller,OldMan,OldWoman,Boy,Girl,Homeless,LargeWoman,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,res_00000000,1,0,0,1,0,Hoomans,Species,3,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
1,res_00000000,1,1,0,0,0,Pets,Species,3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2
2,res_00000001,1,0,0,1,0,Male,Gender,2,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0
3,res_00000001,1,1,0,0,2,Female,Gender,2,0,1,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0
4,res_00000002,1,1,1,0,2,Young,Age,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [70]:
df_llm_sub = df_llm[df_llm['ResponseID'].isin(Response_keep_llm)]

In [72]:
df_llm_sub.shape

# should be 250000 rows

(250000, 31)

In [73]:
# concatanating the datasets, with mme after llm cause of ResponseID, and resetting the index

df_concat = pd.concat([df_llm_sub, df_mme_50], axis=0)
df_total_complete = df_concat.reset_index(drop=True)

In [74]:
df_total_complete.shape # should be 2.5M and 31 cols

(500000, 31)

In [75]:
df_total_complete.duplicated().sum()

0

In [76]:
df_total_complete.head()

,ResponseID,UserID,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,Saved,Man,Woman,Pregnant,Stroller,OldMan,OldWoman,Boy,Girl,Homeless,LargeWoman,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,res_00000000,1,0,0,1,0,Hoomans,Species,3,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
1,res_00000000,1,1,0,0,0,Pets,Species,3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2
2,res_00000001,1,0,0,1,0,Male,Gender,2,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0
3,res_00000001,1,1,0,0,2,Female,Gender,2,0,1,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0
4,res_00000002,1,1,1,0,2,Young,Age,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [77]:
df_total_complete.tail()

,ResponseID,UserID,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,Saved,Man,Woman,Pregnant,Stroller,OldMan,OldWoman,Boy,Girl,Homeless,LargeWoman,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
499995,res_01018561,0,1,1,0,0,More,Utilitarian,5,2,1,0,1,0,1,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0
499996,res_01018562,0,1,1,0,0,Young,Age,3,0,1,0,1,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0
499997,res_01018563,0,1,1,0,1,Female,Gender,3,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0
499998,res_01018564,0,1,0,1,0,Old,Age,4,0,0,0,0,0,0,2,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0
499999,res_01018565,0,1,0,1,0,Less,Utilitarian,4,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,2,0,0

In [78]:
df_total_complete.columns

Index(['ResponseID', 'UserID', 'Intervention', 'PedPed', 'Barrier',
       'CrossingSignal', 'AttributeLevel', 'ScenarioTypeStrict',
       'NumberOfCharacters', 'DiffNumberOFCharacters', 'Saved', 'Man', 'Woman',
       'Pregnant', 'Stroller', 'OldMan', 'OldWoman', 'Boy', 'Girl', 'Homeless',
       'LargeWoman', 'LargeMan', 'Criminal', 'MaleExecutive',
       'FemaleExecutive', 'FemaleAthlete', 'MaleAthlete', 'FemaleDoctor',
       'MaleDoctor', 'Dog', 'Cat'],
      dtype='object')

In [79]:
# check distribution of the target variable (UserID)

df_total_complete['UserID'].value_counts(normalize=True)

UserID
1    0.5
0    0.5
Name: proportion, dtype: float64

In [80]:
# showing all the columns
pd.set_option('display.max_columns', None)

In [81]:
df_total_complete['ResponseID'].value_counts().min()

2

In [82]:
df_total_complete['ResponseID'].value_counts().max()

2

In [83]:
dupli = df_total_complete.duplicated().sum()

In [84]:
print(f"Number of duplicates: {dupli}")

Number of duplicates: 0

In [85]:
# checking the missing values

df_total_complete.isnull().sum().sum()

# there are no missing values in the dataset

0

In [86]:
# randomly shuffling the dataset so that not all llm's are on top of the dataset

df_total = df_total_complete.sample(frac=1, random_state=42).reset_index(drop=True)

In [87]:
df_total.head()

,ResponseID,UserID,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,Saved,Man,Woman,Pregnant,Stroller,OldMan,OldWoman,Boy,Girl,Homeless,LargeWoman,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,res_00067860,1,1,1,0,2,More,Utilitarian,5,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,2,0,0
1,res_00130010,1,0,0,1,0,Low,Social Status,3,0,0,0,2,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,res_00091317,1,1,1,0,0,High,Social Status,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,1,0,0,1,0,0,0
3,res_00086448,1,1,1,0,0,Fat,Fitness,2,0,1,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0
4,res_00899216,0,1,1,0,0,Pets,Species,4,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,3

In [88]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 31 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   ResponseID              500000 non-null  object
 1   UserID                  500000 non-null  int64
 2   Intervention            500000 non-null  int64
 3   PedPed                  500000 non-null  int64
 4   Barrier                 500000 non-null  int64
 5   CrossingSignal          500000 non-null  int64
 6   AttributeLevel          500000 non-null  object
 7   ScenarioTypeStrict      500000 non-null  object
 8   NumberOfCharacters      500000 non-null  int64
 9   DiffNumberOFCharacters  500000 non-null  int64
 10  Saved                   500000 non-null  int64
 11  Man                     500000 non-null  int64
 12  Woman                   500000 non-null  int64
 13  Pregnant                500000 non-null  int64
 14  Stroller                500000 non-null  int64
 15  OldMan                  500000 non-null  int64
 16  OldWoman                500000 non-null  int64
 17  Boy                     500000 non-null  int64
 18  Girl                    500000 non-null  int64
 19  Homeless                500000 non-null  int64
 20  LargeWoman              500000 non-null  int64
 21  LargeMan                500000 non-null  int64
 22  Criminal                500000 non-null  int64
 23  MaleExecutive           500000 non-null  int64
 24  FemaleExecutive         500000 non-null  int64
 25  FemaleAthlete           500000 non-null  int64
 26  MaleAthlete             500000 non-null  int64
 27  FemaleDoctor            500000 non-null  int64
 28  MaleDoctor              500000 non-null  int64
 29  Dog                     500000 non-null  int64
 30  Cat                     500000 non-null  int64
dtypes: int64(28), object(3)
memory usage: 118.3+ MB

In [89]:
# Get the maximum float value across the entire DataFrame (ignoring non-numeric columns)
max_value = df_total.select_dtypes(include=['float', 'int']).max().max()

print(f'Highest number in the dataset: {max_value}')

# can do int8 cause the max value is 5

Highest number in the dataset: 5

In [90]:
# change datatypes of the columns

# Convert all float64 and int64 columns to int8
df_total = df_total.astype({col: 'int8' for col in df_total.select_dtypes(include=['float64', 'int64']).columns})

# Convert all object columns to category
df_total = df_total.astype({col: 'category' for col in df_total.select_dtypes(include=['object']).columns})

In [91]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 31 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   ResponseID              500000 non-null  category
 1   UserID                  500000 non-null  int8
 2   Intervention            500000 non-null  int8
 3   PedPed                  500000 non-null  int8
 4   Barrier                 500000 non-null  int8
 5   CrossingSignal          500000 non-null  int8
 6   AttributeLevel          500000 non-null  category
 7   ScenarioTypeStrict      500000 non-null  category
 8   NumberOfCharacters      500000 non-null  int8
 9   DiffNumberOFCharacters  500000 non-null  int8
 10  Saved                   500000 non-null  int8
 11  Man                     500000 non-null  int8
 12  Woman                   500000 non-null  int8
 13  Pregnant                500000 non-null  int8
 14  Stroller                500000 non-null  int8
 15  OldMan                  500000 non-null  int8
 16  OldWoman                500000 non-null  int8
 17  Boy                     500000 non-null  int8
 18  Girl                    500000 non-null  int8
 19  Homeless                500000 non-null  int8
 20  LargeWoman              500000 non-null  int8
 21  LargeMan                500000 non-null  int8
 22  Criminal                500000 non-null  int8
 23  MaleExecutive           500000 non-null  int8
 24  FemaleExecutive         500000 non-null  int8
 25  FemaleAthlete           500000 non-null  int8
 26  MaleAthlete             500000 non-null  int8
 27  FemaleDoctor            500000 non-null  int8
 28  MaleDoctor              500000 non-null  int8
 29  Dog                     500000 non-null  int8
 30  Cat                     500000 non-null  int8
dtypes: category(3), int8(28)
memory usage: 26.2 MB

In [92]:
# resetting index
df_total = df_total.reset_index(drop=True)

In [93]:
df_total.head()

,ResponseID,UserID,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,Saved,Man,Woman,Pregnant,Stroller,OldMan,OldWoman,Boy,Girl,Homeless,LargeWoman,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,res_00067860,1,1,1,0,2,More,Utilitarian,5,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,2,0,0
1,res_00130010,1,0,0,1,0,Low,Social Status,3,0,0,0,2,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,res_00091317,1,1,1,0,0,High,Social Status,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,1,0,0,1,0,0,0
3,res_00086448,1,1,1,0,0,Fat,Fitness,2,0,1,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0
4,res_00899216,0,1,1,0,0,Pets,Species,4,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,3

In [94]:
# saving the dataset
df_total.to_csv('total_50_dataset.csv', index=False)

## Mme Non-Western & llm's

In [95]:
 # reading datasets

import pandas as pd

df_nw = pd.read_csv('nw_50_dataset.csv')

In [96]:
df_nw.shape

(250000, 31)

In [97]:
df_nw.duplicated().sum()

0

In [ ]:
# using the df_llm_sub dataset of 250000 from above

In [99]:
df_llm_sub.shape

(250000, 31)

In [100]:
# concatanating the datasets, with mme later cause of ResponseID, and resetting the index

df_concat = pd.concat([df_llm_sub, df_nw], axis=0)
df_total_complete_nw = df_concat.reset_index(drop=True)

In [101]:
df_total_complete_nw.shape

(500000, 31)

In [102]:
df_total_complete_nw.head()

,ResponseID,UserID,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,Saved,Man,Woman,Pregnant,Stroller,OldMan,OldWoman,Boy,Girl,Homeless,LargeWoman,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,res_00000000,1,0,0,1,0,Hoomans,Species,3,0,0,1.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
1,res_00000000,1,1,0,0,0,Pets,Species,3,0,1,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2
2,res_00000001,1,0,0,1,0,Male,Gender,2,0,0,0.0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0
3,res_00000001,1,1,0,0,2,Female,Gender,2,0,1,0.0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0
4,res_00000002,1,1,1,0,2,Young,Age,1,0,1,0.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [103]:
df_total_complete_nw.tail()

,ResponseID,UserID,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,Saved,Man,Woman,Pregnant,Stroller,OldMan,OldWoman,Boy,Girl,Homeless,LargeWoman,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
499995,res_00898561,0,1,0,0,0,Less,Utilitarian,4,1,0,0.0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,3,0,0,0
499996,res_00898562,0,1,0,0,1,Less,Utilitarian,3,2,0,0.0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1
499997,res_00898563,0,1,0,0,0,Low,Social Status,3,0,0,1.0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0
499998,res_00898564,0,1,1,0,2,Male,Gender,1,0,0,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
499999,res_00898565,0,1,0,1,0,Female,Gender,5,0,1,0.0,1,0,0,0,1,0,0,0,0,0,0,0,0,2,0,1,0,0,0

In [104]:
df_total_complete_nw.columns

Index(['ResponseID', 'UserID', 'Intervention', 'PedPed', 'Barrier',
       'CrossingSignal', 'AttributeLevel', 'ScenarioTypeStrict',
       'NumberOfCharacters', 'DiffNumberOFCharacters', 'Saved', 'Man', 'Woman',
       'Pregnant', 'Stroller', 'OldMan', 'OldWoman', 'Boy', 'Girl', 'Homeless',
       'LargeWoman', 'LargeMan', 'Criminal', 'MaleExecutive',
       'FemaleExecutive', 'FemaleAthlete', 'MaleAthlete', 'FemaleDoctor',
       'MaleDoctor', 'Dog', 'Cat'],
      dtype='object')

In [105]:
# checking the missing values

df_total_complete_nw.isnull().sum()

ResponseID                0
UserID                    0
Intervention              0
PedPed                    0
Barrier                   0
CrossingSignal            0
AttributeLevel            0
ScenarioTypeStrict        0
NumberOfCharacters        0
DiffNumberOFCharacters    0
Saved                     0
Man                       0
Woman                     0
Pregnant                  0
Stroller                  0
OldMan                    0
OldWoman                  0
Boy                       0
Girl                      0
Homeless                  0
LargeWoman                0
LargeMan                  0
Criminal                  0
MaleExecutive             0
FemaleExecutive           0
FemaleAthlete             0
MaleAthlete               0
FemaleDoctor              0
MaleDoctor                0
Dog                       0
Cat                       0
dtype: int64

In [106]:
df_total_complete_nw['UserID'].value_counts()

UserID
1    250000
0    250000
Name: count, dtype: int64

In [ ]:
# checking if 50% is llm
df_total_complete_nw['UserID'].value_counts(normalize=True)

UserID
1    0.5
0    0.5
Name: proportion, dtype: float64

In [108]:
# randomly shuffling the dataset so that not all llm's are on top of the dataset

df_total_nw = df_total_complete_nw.sample(frac=1, random_state=42).reset_index(drop=True)

In [109]:
dupli_nw = df_total_nw.duplicated().sum()

In [110]:
print(f"Number of duplicates: {dupli_nw}")

Number of duplicates: 0

In [111]:
print(df_total_nw['ResponseID'].value_counts().min())
print(df_total_nw['ResponseID'].value_counts().max())

2
2

In [112]:
df_total_nw.head()

,ResponseID,UserID,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,Saved,Man,Woman,Pregnant,Stroller,OldMan,OldWoman,Boy,Girl,Homeless,LargeWoman,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,res_00067860,1,1,1,0,2,More,Utilitarian,5,1,1,0.0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,2,0,0
1,res_00130010,1,0,0,1,0,Low,Social Status,3,0,0,0.0,2,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,res_00091317,1,1,1,0,0,High,Social Status,4,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,2,1,0,0,1,0,0,0
3,res_00086448,1,1,1,0,0,Fat,Fitness,2,0,1,0.0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0
4,res_00837601,0,1,0,0,1,Female,Gender,5,0,0,0.0,0,0,0,0,1,0,1,0,0,0,0,0,2,1,0,0,0,0,0

In [113]:
df_total_nw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 31 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   ResponseID              500000 non-null  object
 1   UserID                  500000 non-null  int64
 2   Intervention            500000 non-null  int64
 3   PedPed                  500000 non-null  int64
 4   Barrier                 500000 non-null  int64
 5   CrossingSignal          500000 non-null  int64
 6   AttributeLevel          500000 non-null  object
 7   ScenarioTypeStrict      500000 non-null  object
 8   NumberOfCharacters      500000 non-null  int64
 9   DiffNumberOFCharacters  500000 non-null  int64
 10  Saved                   500000 non-null  int64
 11  Man                     500000 non-null  float64
 12  Woman                   500000 non-null  int64
 13  Pregnant                500000 non-null  int64
 14  Stroller                500000 non-null  int64
 15  OldMan                  500000 non-null  int64
 16  OldWoman                500000 non-null  int64
 17  Boy                     500000 non-null  int64
 18  Girl                    500000 non-null  int64
 19  Homeless                500000 non-null  int64
 20  LargeWoman              500000 non-null  int64
 21  LargeMan                500000 non-null  int64
 22  Criminal                500000 non-null  int64
 23  MaleExecutive           500000 non-null  int64
 24  FemaleExecutive         500000 non-null  int64
 25  FemaleAthlete           500000 non-null  int64
 26  MaleAthlete             500000 non-null  int64
 27  FemaleDoctor            500000 non-null  int64
 28  MaleDoctor              500000 non-null  int64
 29  Dog                     500000 non-null  int64
 30  Cat                     500000 non-null  int64
dtypes: float64(1), int64(27), object(3)
memory usage: 118.3+ MB

In [114]:
# Get the maximum float value across the entire DataFrame (ignoring non-numeric columns)
max_value = df_total_nw.select_dtypes(include=['float', 'int']).max().max()

print(f'Highest number in the dataset: {max_value}')

Highest number in the dataset: 5.0

In [115]:
# change datatypes of the columns

# Convert all float64 and int64 columns to int16
df_total_nw = df_total_nw.astype({col: 'int8' for col in df_total_nw.select_dtypes(include=['float64', 'int64']).columns})

# Convert all object columns to category
df_total_nw = df_total_nw.astype({col: 'category' for col in df_total_nw.select_dtypes(include=['object']).columns})

In [116]:
df_total_nw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 31 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   ResponseID              500000 non-null  category
 1   UserID                  500000 non-null  int8
 2   Intervention            500000 non-null  int8
 3   PedPed                  500000 non-null  int8
 4   Barrier                 500000 non-null  int8
 5   CrossingSignal          500000 non-null  int8
 6   AttributeLevel          500000 non-null  category
 7   ScenarioTypeStrict      500000 non-null  category
 8   NumberOfCharacters      500000 non-null  int8
 9   DiffNumberOFCharacters  500000 non-null  int8
 10  Saved                   500000 non-null  int8
 11  Man                     500000 non-null  int8
 12  Woman                   500000 non-null  int8
 13  Pregnant                500000 non-null  int8
 14  Stroller                500000 non-null  int8
 15  OldMan                  500000 non-null  int8
 16  OldWoman                500000 non-null  int8
 17  Boy                     500000 non-null  int8
 18  Girl                    500000 non-null  int8
 19  Homeless                500000 non-null  int8
 20  LargeWoman              500000 non-null  int8
 21  LargeMan                500000 non-null  int8
 22  Criminal                500000 non-null  int8
 23  MaleExecutive           500000 non-null  int8
 24  FemaleExecutive         500000 non-null  int8
 25  FemaleAthlete           500000 non-null  int8
 26  MaleAthlete             500000 non-null  int8
 27  FemaleDoctor            500000 non-null  int8
 28  MaleDoctor              500000 non-null  int8
 29  Dog                     500000 non-null  int8
 30  Cat                     500000 non-null  int8
dtypes: category(3), int8(28)
memory usage: 26.2 MB

In [117]:
df_total_nw.to_csv('total_nw_50_dataset.csv', index=False)

## MME deleted & llm's

In [118]:
df_total_deleted = pd.read_csv('deleted_dataset.csv')

In [119]:
df_total_deleted.shape

(500000, 31)

In [120]:
df_total_deleted.head()

,ResponseID,UserID,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,Saved,Man,Woman,Pregnant,Stroller,OldMan,OldWoman,Boy,Girl,Homeless,LargeWoman,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,res_00000000,1,0,0,1,0,Hoomans,Species,3.0,0.0,0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,res_00000000,1,1,0,0,0,Pets,Species,3.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0
2,res_00000001,1,0,0,1,0,Male,Gender,2.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,res_00000001,1,1,0,0,2,Female,Gender,2.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,res_00000002,1,1,1,0,2,Young,Age,1.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [121]:
df_total_deleted.tail()

,ResponseID,UserID,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,Saved,Man,Woman,Pregnant,Stroller,OldMan,OldWoman,Boy,Girl,Homeless,LargeWoman,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
499995,res_00898561,0,1,1,0,1,Young,Age,3.0,0.0,1,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
499996,res_00898562,0,1,0,0,0,Male,Gender,1.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
499997,res_00898563,0,1,0,0,1,Female,Gender,1.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
499998,res_00898564,0,1,1,0,0,More,Utilitarian,5.0,2.0,1,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
499999,res_00898565,0,1,1,0,1,Female,Gender,3.0,0.0,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [122]:
df_total_deleted.columns

Index(['ResponseID', 'UserID', 'Intervention', 'PedPed', 'Barrier',
       'CrossingSignal', 'AttributeLevel', 'ScenarioTypeStrict',
       'NumberOfCharacters', 'DiffNumberOFCharacters', 'Saved', 'Man', 'Woman',
       'Pregnant', 'Stroller', 'OldMan', 'OldWoman', 'Boy', 'Girl', 'Homeless',
       'LargeWoman', 'LargeMan', 'Criminal', 'MaleExecutive',
       'FemaleExecutive', 'FemaleAthlete', 'MaleAthlete', 'FemaleDoctor',
       'MaleDoctor', 'Dog', 'Cat'],
      dtype='object')

In [123]:
# checking the missing values

df_total_deleted.isnull().sum()

ResponseID                0
UserID                    0
Intervention              0
PedPed                    0
Barrier                   0
CrossingSignal            0
AttributeLevel            0
ScenarioTypeStrict        0
NumberOfCharacters        0
DiffNumberOFCharacters    0
Saved                     0
Man                       0
Woman                     0
Pregnant                  0
Stroller                  0
OldMan                    0
OldWoman                  0
Boy                       0
Girl                      0
Homeless                  0
LargeWoman                0
LargeMan                  0
Criminal                  0
MaleExecutive             0
FemaleExecutive           0
FemaleAthlete             0
MaleAthlete               0
FemaleDoctor              0
MaleDoctor                0
Dog                       0
Cat                       0
dtype: int64

In [124]:
df_total_deleted['UserID'].value_counts()

UserID
1    250000
0    250000
Name: count, dtype: int64

In [125]:
# checking if 2% is llm
df_total_deleted['UserID'].value_counts(normalize=True)

# yes it is true (because of the removal of 2 NAN rows, the % is actually 2.0000002725%, but that is close enough to 2%)

UserID
1    0.5
0    0.5
Name: proportion, dtype: float64

In [126]:
# randomly shuffling the dataset so that not all llm's are on top of the dataset

df_total_deleted = df_total_deleted.sample(frac=1, random_state=42).reset_index(drop=True)

In [127]:
dupli_del = df_total_deleted.duplicated().sum()

In [128]:
print(f"Number of duplicates: {dupli_del}")

Number of duplicates: 0

In [129]:
print(df_total_deleted['ResponseID'].value_counts().min())
print(df_total_deleted['ResponseID'].value_counts().max())

2
2

In [130]:
df_total_deleted.head()

,ResponseID,UserID,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,Saved,Man,Woman,Pregnant,Stroller,OldMan,OldWoman,Boy,Girl,Homeless,LargeWoman,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,res_00068544,1,0,0,0,1,Hoomans,Species,5.0,0.0,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
1,res_00129707,1,0,1,0,1,Female,Gender,1.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,res_00090647,1,0,1,0,0,Pets,Species,2.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
3,res_00086083,1,1,0,1,0,Young,Age,2.0,0.0,1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,res_00837532,0,1,0,0,0,Old,Age,2.0,0.0,0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [131]:
df_total_deleted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 31 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   ResponseID              500000 non-null  object
 1   UserID                  500000 non-null  int64
 2   Intervention            500000 non-null  int64
 3   PedPed                  500000 non-null  int64
 4   Barrier                 500000 non-null  int64
 5   CrossingSignal          500000 non-null  int64
 6   AttributeLevel          500000 non-null  object
 7   ScenarioTypeStrict      500000 non-null  object
 8   NumberOfCharacters      500000 non-null  float64
 9   DiffNumberOFCharacters  500000 non-null  float64
 10  Saved                   500000 non-null  int64
 11  Man                     500000 non-null  float64
 12  Woman                   500000 non-null  float64
 13  Pregnant                500000 non-null  float64
 14  Stroller                500000 non-null  float64
 15  OldMan                  500000 non-null  float64
 16  OldWoman                500000 non-null  float64
 17  Boy                     500000 non-null  float64
 18  Girl                    500000 non-null  float64
 19  Homeless                500000 non-null  float64
 20  LargeWoman              500000 non-null  float64
 21  LargeMan                500000 non-null  float64
 22  Criminal                500000 non-null  float64
 23  MaleExecutive           500000 non-null  float64
 24  FemaleExecutive         500000 non-null  float64
 25  FemaleAthlete           500000 non-null  float64
 26  MaleAthlete             500000 non-null  float64
 27  FemaleDoctor            500000 non-null  float64
 28  MaleDoctor              500000 non-null  float64
 29  Dog                     500000 non-null  float64
 30  Cat                     500000 non-null  float64
dtypes: float64(22), int64(6), object(3)
memory usage: 118.3+ MB

In [132]:
# Get the maximum float value across the entire DataFrame (ignoring non-numeric columns)
max_value = df_total_deleted.select_dtypes(include=['float', 'int']).max().max()

print(f'Highest number in the dataset: {max_value}')

Highest number in the dataset: 5.0

In [133]:
# change datatypes of the columns

# Convert all float64 and int64 columns to int16
df_total_deleted = df_total_deleted.astype({col: 'int8' for col in df_total_deleted.select_dtypes(include=['float64', 'int64']).columns})

# Convert all object columns to category
df_total_deleted = df_total_deleted.astype({col: 'category' for col in df_total_deleted.select_dtypes(include=['object']).columns})

In [134]:
df_total_deleted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 31 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   ResponseID              500000 non-null  category
 1   UserID                  500000 non-null  int8
 2   Intervention            500000 non-null  int8
 3   PedPed                  500000 non-null  int8
 4   Barrier                 500000 non-null  int8
 5   CrossingSignal          500000 non-null  int8
 6   AttributeLevel          500000 non-null  category
 7   ScenarioTypeStrict      500000 non-null  category
 8   NumberOfCharacters      500000 non-null  int8
 9   DiffNumberOFCharacters  500000 non-null  int8
 10  Saved                   500000 non-null  int8
 11  Man                     500000 non-null  int8
 12  Woman                   500000 non-null  int8
 13  Pregnant                500000 non-null  int8
 14  Stroller                500000 non-null  int8
 15  OldMan                  500000 non-null  int8
 16  OldWoman                500000 non-null  int8
 17  Boy                     500000 non-null  int8
 18  Girl                    500000 non-null  int8
 19  Homeless                500000 non-null  int8
 20  LargeWoman              500000 non-null  int8
 21  LargeMan                500000 non-null  int8
 22  Criminal                500000 non-null  int8
 23  MaleExecutive           500000 non-null  int8
 24  FemaleExecutive         500000 non-null  int8
 25  FemaleAthlete           500000 non-null  int8
 26  MaleAthlete             500000 non-null  int8
 27  FemaleDoctor            500000 non-null  int8
 28  MaleDoctor              500000 non-null  int8
 29  Dog                     500000 non-null  int8
 30  Cat                     500000 non-null  int8
dtypes: category(3), int8(28)
memory usage: 26.2 MB

In [135]:
df_total_deleted.to_csv('total_deleted_50_dataset.csv', index=False)