## Mme total & llm's

In [8]:
# reading datasets

import pandas as pd

df_mme = pd.read_csv('mme_dataset.csv')

In [9]:
df_mme.shape

(4900000, 31)

In [5]:
df_llm = pd.read_csv('llm_dataset.csv')

In [6]:
df_llm.shape

(293568, 31)

In [11]:
# randomly keeping 5M - 4.9M of the dataset =  100.000 rows of LLM needed
# 100000 rows = 100000 / 2 = 50000 unique responseID's

In [7]:
# randomly keep 50000 unique responseID's LLM dataset

# Getting unique UserIDs
Response_unique = df_llm['ResponseID'].unique()
print(len(Response_unique))  # should be 293568/2 = 146784

# Selecting 719242 UserIDs from the unique set
Response_keep_llm = pd.Series(Response_unique).sample(n=50000, random_state=42)
print(len(Response_keep_llm))  # should be 50000

146784
50000

In [8]:
df_llm.head()

,ResponseID,UserID,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,...,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,res_00000000,1,0,0,1,0,Hoomans,Species,3,0,...,0,0,0,0,0,0,1,0,0,0
1,res_00000000,1,1,0,0,0,Pets,Species,3,0,...,0,0,0,0,0,0,0,0,1,2
2,res_00000001,1,0,0,1,0,Male,Gender,2,0,...,0,0,0,0,0,0,0,0,0,0
3,res_00000001,1,1,0,0,2,Female,Gender,2,0,...,0,0,0,0,0,0,0,0,0,0
4,res_00000002,1,1,1,0,2,Young,Age,1,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
df_llm_sub = df_llm[df_llm['ResponseID'].isin(Response_keep_llm)]

In [10]:
df_llm_sub.shape

# should be 100000 rows

(100000, 31)

In [15]:
# concatanating the datasets, with mme after llm cause of ResponseID, and resetting the index

df_concat = pd.concat([df_llm_sub, df_mme], axis=0)
df_total_complete = df_concat.reset_index(drop=True)

In [16]:
df_total_complete.shape # should be 5M and 31 cols

(5000000, 31)

In [17]:
df_total_complete.duplicated().sum()

0

In [18]:
df_total_complete.head()

,ResponseID,UserID,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,...,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,res_00000000,1,0,0,1,0,Hoomans,Species,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,res_00000000,1,1,0,0,0,Pets,Species,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0
2,res_00000003,1,0,1,0,0,Hoomans,Species,2.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,res_00000003,1,1,1,0,0,Pets,Species,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
4,res_00000004,1,0,0,1,0,Fat,Fitness,5.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
df_total_complete.tail()

,ResponseID,UserID,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,...,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
4999995,res_02596779,0,1,1,0,0,Less,Utilitarian,2.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4999996,res_02596780,0,1,0,1,0,Male,Gender,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4999997,res_02596781,0,1,1,0,0,Male,Gender,5.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4999998,res_02596782,0,1,1,0,0,Fit,Fitness,5.0,0.0,...,0.0,0.0,0.0,0.0,3.0,2.0,0.0,0.0,0.0,0.0
4999999,res_02596783,0,1,1,0,0,More,Utilitarian,5.0,4.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0

In [20]:
df_total_complete.columns

Index(['ResponseID', 'UserID', 'Intervention', 'PedPed', 'Barrier',
       'CrossingSignal', 'AttributeLevel', 'ScenarioTypeStrict',
       'NumberOfCharacters', 'DiffNumberOFCharacters', 'Saved', 'Man', 'Woman',
       'Pregnant', 'Stroller', 'OldMan', 'OldWoman', 'Boy', 'Girl', 'Homeless',
       'LargeWoman', 'LargeMan', 'Criminal', 'MaleExecutive',
       'FemaleExecutive', 'FemaleAthlete', 'MaleAthlete', 'FemaleDoctor',
       'MaleDoctor', 'Dog', 'Cat'],
      dtype='object')

In [22]:
# check distribution of the target variable (UserID)

df_total_complete['UserID'].value_counts(normalize=True)

UserID
0    0.98
1    0.02
Name: proportion, dtype: float64

In [24]:
# showing all the columns
pd.set_option('display.max_columns', None)

In [25]:
df_total_complete['ResponseID'].value_counts().min()

2

In [26]:
df_total_complete['ResponseID'].value_counts().max()

2

In [29]:
dupli = df_total_complete.duplicated().sum()

In [30]:
print(f"Number of duplicates: {dupli}")

Number of duplicates: 0

In [31]:
# checking the missing values

df_total_complete.isnull().sum().sum()

# there are no missing values in the dataset

0

In [32]:
# randomly shuffling the dataset so that not all llm's are on top of the dataset

df_total = df_total_complete.sample(frac=1, random_state=42).reset_index(drop=True)

In [33]:
df_total.head()

,ResponseID,UserID,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,Saved,Man,Woman,Pregnant,Stroller,OldMan,OldWoman,Boy,Girl,Homeless,LargeWoman,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,res_01769128,0,1,1,0,0,Fit,Fitness,5.0,0.0,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0
1,res_02590716,0,1,1,0,0,Fat,Fitness,4.0,0.0,0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,res_02286140,0,0,0,0,1,Male,Gender,5.0,0.0,0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,res_02017281,0,1,0,0,0,Fat,Fitness,5.0,0.0,0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,res_00681249,0,0,1,0,0,Fat,Fitness,2.0,0.0,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000000 entries, 0 to 4999999
Data columns (total 31 columns):
 #   Column                  Dtype
---  ------                  -----
 0   ResponseID              object
 1   UserID                  int64
 2   Intervention            int64
 3   PedPed                  int64
 4   Barrier                 int64
 5   CrossingSignal          int64
 6   AttributeLevel          object
 7   ScenarioTypeStrict      object
 8   NumberOfCharacters      float64
 9   DiffNumberOFCharacters  float64
 10  Saved                   int64
 11  Man                     float64
 12  Woman                   float64
 13  Pregnant                float64
 14  Stroller                float64
 15  OldMan                  float64
 16  OldWoman                float64
 17  Boy                     float64
 18  Girl                    float64
 19  Homeless                float64
 20  LargeWoman              float64
 21  LargeMan                float64
 22  Criminal                float64
 23  MaleExecutive           float64
 24  FemaleExecutive         float64
 25  FemaleAthlete           float64
 26  MaleAthlete             float64
 27  FemaleDoctor            float64
 28  MaleDoctor              float64
 29  Dog                     float64
 30  Cat                     float64
dtypes: float64(22), int64(6), object(3)
memory usage: 1.2+ GB

In [35]:
# Get the maximum float value across the entire DataFrame (ignoring non-numeric columns)
max_value = df_total.select_dtypes(include=['float', 'int']).max().max()

print(f'Highest number in the dataset: {max_value}')

# can do int8 cause the max value is 5

Highest number in the dataset: 5.0

In [36]:
# change datatypes of the columns

# Convert all float64 and int64 columns to int8
df_total = df_total.astype({col: 'int8' for col in df_total.select_dtypes(include=['float64', 'int64']).columns})

# Convert all object columns to category
df_total = df_total.astype({col: 'category' for col in df_total.select_dtypes(include=['object']).columns})

In [37]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000000 entries, 0 to 4999999
Data columns (total 31 columns):
 #   Column                  Dtype
---  ------                  -----
 0   ResponseID              category
 1   UserID                  int8
 2   Intervention            int8
 3   PedPed                  int8
 4   Barrier                 int8
 5   CrossingSignal          int8
 6   AttributeLevel          category
 7   ScenarioTypeStrict      category
 8   NumberOfCharacters      int8
 9   DiffNumberOFCharacters  int8
 10  Saved                   int8
 11  Man                     int8
 12  Woman                   int8
 13  Pregnant                int8
 14  Stroller                int8
 15  OldMan                  int8
 16  OldWoman                int8
 17  Boy                     int8
 18  Girl                    int8
 19  Homeless                int8
 20  LargeWoman              int8
 21  LargeMan                int8
 22  Criminal                int8
 23  MaleExecutive           int8
 24  FemaleExecutive         int8
 25  FemaleAthlete           int8
 26  MaleAthlete             int8
 27  FemaleDoctor            int8
 28  MaleDoctor              int8
 29  Dog                     int8
 30  Cat                     int8
dtypes: category(3), int8(28)
memory usage: 245.7 MB

In [39]:
# saving the dataset
df_total.to_csv('total_dataset.csv', index=False)

## Mme Non-Western & llm's

In [1]:
 # reading datasets

import pandas as pd

df_nw = pd.read_csv('non_western_dataset.csv')

In [2]:
df_nw.shape

(4900000, 31)

In [3]:
df_nw.duplicated().sum()

0

In [ ]:
# using the df_llm_sub dataset of 100000 from above

In [11]:
df_llm_sub.shape

(100000, 31)

In [12]:
# concatanating the datasets, with mme later cause of ResponseID, and resetting the index

df_concat = pd.concat([df_llm_sub, df_nw], axis=0)
df_total_complete_nw = df_concat.reset_index(drop=True)

In [13]:
df_total_complete_nw.shape

(5000000, 31)

In [14]:
df_total_complete_nw.head()

,ResponseID,UserID,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,...,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,res_00000000,1,0,0,1,0,Hoomans,Species,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,res_00000000,1,1,0,0,0,Pets,Species,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0
2,res_00000003,1,0,1,0,0,Hoomans,Species,2.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,res_00000003,1,1,1,0,0,Pets,Species,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
4,res_00000004,1,0,0,1,0,Fat,Fitness,5.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
df_total_complete_nw.tail()

,ResponseID,UserID,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,...,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
4999995,res_02596779,0,1,0,1,0,Pets,Species,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0
4999996,res_02596780,0,1,0,1,0,Fat,Fitness,3.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4999997,res_02596781,0,1,1,0,1,Young,Age,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4999998,res_02596782,0,1,1,0,1,Female,Gender,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4999999,res_02596783,0,1,1,0,0,More,Utilitarian,5.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
df_total_complete_nw.columns

Index(['ResponseID', 'UserID', 'Intervention', 'PedPed', 'Barrier',
       'CrossingSignal', 'AttributeLevel', 'ScenarioTypeStrict',
       'NumberOfCharacters', 'DiffNumberOFCharacters', 'Saved', 'Man', 'Woman',
       'Pregnant', 'Stroller', 'OldMan', 'OldWoman', 'Boy', 'Girl', 'Homeless',
       'LargeWoman', 'LargeMan', 'Criminal', 'MaleExecutive',
       'FemaleExecutive', 'FemaleAthlete', 'MaleAthlete', 'FemaleDoctor',
       'MaleDoctor', 'Dog', 'Cat'],
      dtype='object')

In [17]:
# checking the missing values

df_total_complete_nw.isnull().sum()

ResponseID                0
UserID                    0
Intervention              0
PedPed                    0
Barrier                   0
CrossingSignal            0
AttributeLevel            0
ScenarioTypeStrict        0
NumberOfCharacters        0
DiffNumberOFCharacters    0
Saved                     0
Man                       0
Woman                     0
Pregnant                  0
Stroller                  0
OldMan                    0
OldWoman                  0
Boy                       0
Girl                      0
Homeless                  0
LargeWoman                0
LargeMan                  0
Criminal                  0
MaleExecutive             0
FemaleExecutive           0
FemaleAthlete             0
MaleAthlete               0
FemaleDoctor              0
MaleDoctor                0
Dog                       0
Cat                       0
dtype: int64

In [18]:
df_total_complete_nw['UserID'].value_counts()

UserID
0    4900000
1     100000
Name: count, dtype: int64

In [19]:
# checking if 2% is llm
df_total_complete_nw['UserID'].value_counts(normalize=True)

# yes it is true (because of the removal of 2 NAN rows, the % is actually 2.0000002725%, but that is close enough to 2%)

UserID
0    0.98
1    0.02
Name: proportion, dtype: float64

In [20]:
# randomly shuffling the dataset so that not all llm's are on top of the dataset

df_total_nw = df_total_complete_nw.sample(frac=1, random_state=42).reset_index(drop=True)

In [21]:
dupli_nw = df_total_nw.duplicated().sum()

In [22]:
print(f"Number of duplicates: {dupli_nw}")

Number of duplicates: 0

In [23]:
print(df_total_nw['ResponseID'].value_counts().min())
print(df_total_nw['ResponseID'].value_counts().max())

2
2

In [24]:
df_total_nw.head()

,ResponseID,UserID,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,...,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,res_01769157,0,1,1,0,0,Old,Age,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,res_02590716,0,1,0,1,0,Young,Age,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,res_02286169,0,0,1,0,2,More,Utilitarian,5.0,2.0,...,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
3,res_02017281,0,1,1,0,0,More,Utilitarian,5.0,3.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,res_00681249,0,0,0,0,1,Pets,Species,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0

In [25]:
df_total_nw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000000 entries, 0 to 4999999
Data columns (total 31 columns):
 #   Column                  Dtype
---  ------                  -----
 0   ResponseID              object
 1   UserID                  int64
 2   Intervention            int64
 3   PedPed                  int64
 4   Barrier                 int64
 5   CrossingSignal          int64
 6   AttributeLevel          object
 7   ScenarioTypeStrict      object
 8   NumberOfCharacters      float64
 9   DiffNumberOFCharacters  float64
 10  Saved                   int64
 11  Man                     float64
 12  Woman                   float64
 13  Pregnant                float64
 14  Stroller                float64
 15  OldMan                  float64
 16  OldWoman                float64
 17  Boy                     float64
 18  Girl                    float64
 19  Homeless                float64
 20  LargeWoman              float64
 21  LargeMan                float64
 22  Criminal                float64
 23  MaleExecutive           float64
 24  FemaleExecutive         float64
 25  FemaleAthlete           float64
 26  MaleAthlete             float64
 27  FemaleDoctor            float64
 28  MaleDoctor              float64
 29  Dog                     float64
 30  Cat                     float64
dtypes: float64(22), int64(6), object(3)
memory usage: 1.2+ GB

In [26]:
# Get the maximum float value across the entire DataFrame (ignoring non-numeric columns)
max_value = df_total_nw.select_dtypes(include=['float', 'int']).max().max()

print(f'Highest number in the dataset: {max_value}')

Highest number in the dataset: 5.0

In [27]:
# change datatypes of the columns

# Convert all float64 and int64 columns to int16
df_total_nw = df_total_nw.astype({col: 'int8' for col in df_total_nw.select_dtypes(include=['float64', 'int64']).columns})

# Convert all object columns to category
df_total_nw = df_total_nw.astype({col: 'category' for col in df_total_nw.select_dtypes(include=['object']).columns})

In [28]:
df_total_nw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000000 entries, 0 to 4999999
Data columns (total 31 columns):
 #   Column                  Dtype
---  ------                  -----
 0   ResponseID              category
 1   UserID                  int8
 2   Intervention            int8
 3   PedPed                  int8
 4   Barrier                 int8
 5   CrossingSignal          int8
 6   AttributeLevel          category
 7   ScenarioTypeStrict      category
 8   NumberOfCharacters      int8
 9   DiffNumberOFCharacters  int8
 10  Saved                   int8
 11  Man                     int8
 12  Woman                   int8
 13  Pregnant                int8
 14  Stroller                int8
 15  OldMan                  int8
 16  OldWoman                int8
 17  Boy                     int8
 18  Girl                    int8
 19  Homeless                int8
 20  LargeWoman              int8
 21  LargeMan                int8
 22  Criminal                int8
 23  MaleExecutive           int8
 24  FemaleExecutive         int8
 25  FemaleAthlete           int8
 26  MaleAthlete             int8
 27  FemaleDoctor            int8
 28  MaleDoctor              int8
 29  Dog                     int8
 30  Cat                     int8
dtypes: category(3), int8(28)
memory usage: 245.7 MB

In [29]:
df_total_nw.to_csv('total_nw_dataset.csv', index=False)