## Mme total & llm's

### Creating 98 dataset

In [1]:
# reading datasets

import pandas as pd

df_mme = pd.read_csv('mme_98_dataset.csv')

In [2]:
df_mme.shape

(2450000, 31)

In [3]:
df_llm = pd.read_csv('llm_125_dataset.csv')

In [4]:
df_llm.shape

(1547132, 31)

In [5]:
# randomly keeping 2.5M - 2.45M of the dataset = 50.000 rows of LLM needed
# 50000 rows = 50000 / 2 = 25000 unique responseID's

In [6]:
# randomly keep 25000 unique responseID's LLM dataset

# Getting unique UserIDs
Response_unique = df_llm['ResponseID'].unique()
print(len(Response_unique))  # should be 1547132/2 = 773566

# Selecting 25000 UserIDs from the unique set
Response_keep_llm = pd.Series(Response_unique).sample(n=25000, random_state=42)
print(len(Response_keep_llm))  # should be 25000

773566
25000

In [7]:
df_llm.head()

,ResponseID,UserID,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,...,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,res_00000000,1,0,0,1,0,Hoomans,Species,3,0,...,0,0,0,0,0,0,1,0,0,0
1,res_00000000,1,1,0,0,0,Pets,Species,3,0,...,0,0,0,0,0,0,0,0,1,2
2,res_00000001,1,0,0,1,0,Male,Gender,2,0,...,0,0,0,0,0,0,0,0,0,0
3,res_00000001,1,1,0,0,2,Female,Gender,2,0,...,0,0,0,0,0,0,0,0,0,0
4,res_00000002,1,1,1,0,2,Young,Age,1,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
df_llm_sub = df_llm[df_llm['ResponseID'].isin(Response_keep_llm)]

In [9]:
df_llm_sub.shape

# should be 50000 rows

(50000, 31)

In [10]:
# concatanating the datasets, with mme after llm cause of ResponseID, and resetting the index

df_concat = pd.concat([df_llm_sub, df_mme], axis=0)
df_total_complete = df_concat.reset_index(drop=True)

In [11]:
df_total_complete.shape # should be 2.5M and 31 cols

(2500000, 31)

In [12]:
df_total_complete.duplicated().sum()

0

In [13]:
df_total_complete.head()

,ResponseID,UserID,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,...,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,res_00000007,1,0,0,1,0,Hoomans,Species,5.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,res_00000007,1,1,0,0,0,Pets,Species,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0
2,res_00000018,1,0,1,0,2,Young,Age,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,res_00000018,1,1,1,0,1,Old,Age,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,res_00000031,1,0,0,1,0,Less,Utilitarian,3.0,2.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [14]:
df_total_complete.tail()

,ResponseID,UserID,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,...,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
2499995,res_01998561,0,1,1,0,1,Female,Gender,3.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2499996,res_01998562,0,1,0,1,0,Old,Age,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2499997,res_01998563,0,1,0,0,0,Male,Gender,5.0,0.0,...,0.0,0.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2499998,res_01998564,0,1,0,1,0,Less,Utilitarian,4.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0
2499999,res_01998565,0,1,1,0,1,Fit,Fitness,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [15]:
df_total_complete.columns

Index(['ResponseID', 'UserID', 'Intervention', 'PedPed', 'Barrier',
       'CrossingSignal', 'AttributeLevel', 'ScenarioTypeStrict',
       'NumberOfCharacters', 'DiffNumberOFCharacters', 'Saved', 'Man', 'Woman',
       'Pregnant', 'Stroller', 'OldMan', 'OldWoman', 'Boy', 'Girl', 'Homeless',
       'LargeWoman', 'LargeMan', 'Criminal', 'MaleExecutive',
       'FemaleExecutive', 'FemaleAthlete', 'MaleAthlete', 'FemaleDoctor',
       'MaleDoctor', 'Dog', 'Cat'],
      dtype='object')

In [16]:
# check distribution of the target variable (UserID)

df_total_complete['UserID'].value_counts(normalize=True)

UserID
0    0.98
1    0.02
Name: proportion, dtype: float64

In [17]:
# showing all the columns
pd.set_option('display.max_columns', None)

In [18]:
df_total_complete['ResponseID'].value_counts().min()

2

In [19]:
df_total_complete['ResponseID'].value_counts().max()

2

In [20]:
dupli = df_total_complete.duplicated().sum()

In [21]:
print(f"Number of duplicates: {dupli}")

Number of duplicates: 0

In [22]:
# checking the missing values

df_total_complete.isnull().sum().sum()

# there are no missing values in the dataset

0

In [23]:
# randomly shuffling the dataset so that not all llm's are on top of the dataset

df_total = df_total_complete.sample(frac=1, random_state=42).reset_index(drop=True)

In [24]:
df_total.head()

,ResponseID,UserID,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,Saved,Man,Woman,Pregnant,Stroller,OldMan,OldWoman,Boy,Girl,Homeless,LargeWoman,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,res_01656117,0,0,0,1,0,Fit,Fitness,5.0,0.0,0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
1,res_01622131,0,1,1,0,0,Hoomans,Species,1.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,res_00961514,0,1,0,0,2,Young,Age,5.0,0.0,1,0.0,1.0,0.0,0.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,res_01131621,0,1,0,0,2,Young,Age,5.0,0.0,1,2.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,res_01126571,0,1,0,0,1,Female,Gender,3.0,0.0,1,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500000 entries, 0 to 2499999
Data columns (total 31 columns):
 #   Column                  Dtype
---  ------                  -----
 0   ResponseID              object
 1   UserID                  int64
 2   Intervention            int64
 3   PedPed                  int64
 4   Barrier                 int64
 5   CrossingSignal          int64
 6   AttributeLevel          object
 7   ScenarioTypeStrict      object
 8   NumberOfCharacters      float64
 9   DiffNumberOFCharacters  float64
 10  Saved                   int64
 11  Man                     float64
 12  Woman                   float64
 13  Pregnant                float64
 14  Stroller                float64
 15  OldMan                  float64
 16  OldWoman                float64
 17  Boy                     float64
 18  Girl                    float64
 19  Homeless                float64
 20  LargeWoman              float64
 21  LargeMan                float64
 22  Criminal                float64
 23  MaleExecutive           float64
 24  FemaleExecutive         float64
 25  FemaleAthlete           float64
 26  MaleAthlete             float64
 27  FemaleDoctor            float64
 28  MaleDoctor              float64
 29  Dog                     float64
 30  Cat                     float64
dtypes: float64(22), int64(6), object(3)
memory usage: 591.3+ MB

In [26]:
# Get the maximum float value across the entire DataFrame (ignoring non-numeric columns)
max_value = df_total.select_dtypes(include=['float', 'int']).max().max()

print(f'Highest number in the dataset: {max_value}')

# can do int8 cause the max value is 5

Highest number in the dataset: 5.0

In [27]:
# change datatypes of the columns

# Convert all float64 and int64 columns to int8
df_total = df_total.astype({col: 'int8' for col in df_total.select_dtypes(include=['float64', 'int64']).columns})

# Convert all object columns to category
df_total = df_total.astype({col: 'category' for col in df_total.select_dtypes(include=['object']).columns})

In [28]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500000 entries, 0 to 2499999
Data columns (total 31 columns):
 #   Column                  Dtype
---  ------                  -----
 0   ResponseID              category
 1   UserID                  int8
 2   Intervention            int8
 3   PedPed                  int8
 4   Barrier                 int8
 5   CrossingSignal          int8
 6   AttributeLevel          category
 7   ScenarioTypeStrict      category
 8   NumberOfCharacters      int8
 9   DiffNumberOFCharacters  int8
 10  Saved                   int8
 11  Man                     int8
 12  Woman                   int8
 13  Pregnant                int8
 14  Stroller                int8
 15  OldMan                  int8
 16  OldWoman                int8
 17  Boy                     int8
 18  Girl                    int8
 19  Homeless                int8
 20  LargeWoman              int8
 21  LargeMan                int8
 22  Criminal                int8
 23  MaleExecutive           int8
 24  FemaleExecutive         int8
 25  FemaleAthlete           int8
 26  MaleAthlete             int8
 27  FemaleDoctor            int8
 28  MaleDoctor              int8
 29  Dog                     int8
 30  Cat                     int8
dtypes: category(3), int8(28)
memory usage: 122.8 MB

In [29]:
# resetting index
df_total = df_total.reset_index(drop=True)

In [30]:
df_total.head()

,ResponseID,UserID,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,Saved,Man,Woman,Pregnant,Stroller,OldMan,OldWoman,Boy,Girl,Homeless,LargeWoman,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,res_01656117,0,0,0,1,0,Fit,Fitness,5,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0
1,res_01622131,0,1,1,0,0,Hoomans,Species,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,res_00961514,0,1,0,0,2,Young,Age,5,0,1,0,1,0,0,0,0,2,2,0,0,0,0,0,0,0,0,0,0,0,0
3,res_01131621,0,1,0,0,2,Young,Age,5,0,1,2,2,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4,res_01126571,0,1,0,0,1,Female,Gender,3,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0

In [31]:
# saving the dataset
df_total.to_csv('total_98_dataset.csv', index=False)

### Creating 50 dataset

In [32]:
# reading datasets

import pandas as pd

df_mme_50 = pd.read_csv('mme_50_dataset.csv')

In [33]:
df_mme_50.shape

(1250000, 31)

In [34]:
df_llm = pd.read_csv('llm_125_dataset.csv')

In [35]:
df_llm.shape

(1547132, 31)

In [36]:
# randomly keeping 2.5M - 1.25M of the dataset = 1.25M rows of LLM needed
# 50000 rows = 1.25 / 2 = 625000 unique responseID's

In [37]:
# randomly keep 625000 unique responseID's LLM dataset

# Getting unique UserIDs
Response_unique = df_llm['ResponseID'].unique()
print(len(Response_unique))  # should be 1547132/2 = 773566

# Selecting 625000 UserIDs from the unique set
Response_keep_llm = pd.Series(Response_unique).sample(n=625000, random_state=42)
print(len(Response_keep_llm))  # should be 625000

773566
625000

In [38]:
df_llm.head()

,ResponseID,UserID,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,Saved,Man,Woman,Pregnant,Stroller,OldMan,OldWoman,Boy,Girl,Homeless,LargeWoman,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,res_00000000,1,0,0,1,0,Hoomans,Species,3,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
1,res_00000000,1,1,0,0,0,Pets,Species,3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2
2,res_00000001,1,0,0,1,0,Male,Gender,2,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0
3,res_00000001,1,1,0,0,2,Female,Gender,2,0,1,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0
4,res_00000002,1,1,1,0,2,Young,Age,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [39]:
df_llm_sub = df_llm[df_llm['ResponseID'].isin(Response_keep_llm)]

In [40]:
df_llm_sub.shape

# should be 1250000 rows

(1250000, 31)

In [41]:
df_llm_sub.to_csv('PREP_llm_dataset.csv', index=False)

In [12]:
# concatanating the datasets, with mme after llm cause of ResponseID, and resetting the index

df_concat = pd.concat([df_llm_sub, df_mme_50], axis=0)
df_total_complete = df_concat.reset_index(drop=True)

NameError: name 'df_mme_50' is not defined

In [225]:
df_total_complete.shape # should be 2.5M and 31 cols

(2500000, 31)

In [226]:
df_total_complete.duplicated().sum()

0

In [227]:
df_total_complete.head()

,ResponseID,UserID,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,Saved,Man,Woman,Pregnant,Stroller,OldMan,OldWoman,Boy,Girl,Homeless,LargeWoman,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,res_00000000,1,0,0,1,0,Hoomans,Species,3,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
1,res_00000000,1,1,0,0,0,Pets,Species,3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,2
2,res_00000001,1,0,0,1,0,Male,Gender,2,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0
3,res_00000001,1,1,0,0,2,Female,Gender,2,0,1,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0
4,res_00000002,1,1,1,0,2,Young,Age,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [228]:
df_total_complete.tail()

,ResponseID,UserID,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,Saved,Man,Woman,Pregnant,Stroller,OldMan,OldWoman,Boy,Girl,Homeless,LargeWoman,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
2499995,res_01998556,0,1,0,1,0,Fit,Fitness,2,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
2499996,res_01998558,0,1,0,0,1,Female,Gender,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2499997,res_01998559,0,1,0,0,0,Less,Utilitarian,1,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
2499998,res_01998562,0,1,0,1,0,Old,Age,4,0,0,0,0,0,0,2,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2499999,res_01998565,0,1,1,0,1,Fit,Fitness,2,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [229]:
df_total_complete.columns

Index(['ResponseID', 'UserID', 'Intervention', 'PedPed', 'Barrier',
       'CrossingSignal', 'AttributeLevel', 'ScenarioTypeStrict',
       'NumberOfCharacters', 'DiffNumberOFCharacters', 'Saved', 'Man', 'Woman',
       'Pregnant', 'Stroller', 'OldMan', 'OldWoman', 'Boy', 'Girl', 'Homeless',
       'LargeWoman', 'LargeMan', 'Criminal', 'MaleExecutive',
       'FemaleExecutive', 'FemaleAthlete', 'MaleAthlete', 'FemaleDoctor',
       'MaleDoctor', 'Dog', 'Cat'],
      dtype='object')

In [230]:
# check distribution of the target variable (UserID)

df_total_complete['UserID'].value_counts(normalize=True)

UserID
1    0.5
0    0.5
Name: proportion, dtype: float64

In [231]:
# showing all the columns
pd.set_option('display.max_columns', None)

In [232]:
df_total_complete['ResponseID'].value_counts().min()

2

In [233]:
df_total_complete['ResponseID'].value_counts().max()

2

In [234]:
dupli = df_total_complete.duplicated().sum()

In [235]:
print(f"Number of duplicates: {dupli}")

Number of duplicates: 0

In [236]:
# checking the missing values

df_total_complete.isnull().sum().sum()

# there are no missing values in the dataset

0

In [237]:
# randomly shuffling the dataset so that not all llm's are on top of the dataset

df_total = df_total_complete.sample(frac=1, random_state=42).reset_index(drop=True)

In [238]:
df_total.head()

,ResponseID,UserID,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,Saved,Man,Woman,Pregnant,Stroller,OldMan,OldWoman,Boy,Girl,Homeless,LargeWoman,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,res_01054459,0,1,0,0,0,Old,Age,4,0,0,0,1,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,res_01283396,0,1,0,1,0,Young,Age,2,0,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,res_00338990,1,1,1,0,0,Female,Gender,2,0,1,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,res_00635659,1,1,0,0,1,Fat,Fitness,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
4,res_00632539,1,1,1,0,0,More,Utilitarian,5,1,1,0,0,0,0,0,0,0,0,0,1,2,0,0,0,0,0,1,0,0,1

In [239]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500000 entries, 0 to 2499999
Data columns (total 31 columns):
 #   Column                  Dtype
---  ------                  -----
 0   ResponseID              object
 1   UserID                  int64
 2   Intervention            int64
 3   PedPed                  int64
 4   Barrier                 int64
 5   CrossingSignal          int64
 6   AttributeLevel          object
 7   ScenarioTypeStrict      object
 8   NumberOfCharacters      int64
 9   DiffNumberOFCharacters  int64
 10  Saved                   int64
 11  Man                     int64
 12  Woman                   int64
 13  Pregnant                int64
 14  Stroller                int64
 15  OldMan                  int64
 16  OldWoman                int64
 17  Boy                     int64
 18  Girl                    int64
 19  Homeless                int64
 20  LargeWoman              int64
 21  LargeMan                int64
 22  Criminal                int64
 23  MaleExecutive           int64
 24  FemaleExecutive         int64
 25  FemaleAthlete           int64
 26  MaleAthlete             int64
 27  FemaleDoctor            int64
 28  MaleDoctor              int64
 29  Dog                     int64
 30  Cat                     int64
dtypes: int64(28), object(3)
memory usage: 591.3+ MB

In [240]:
# Get the maximum float value across the entire DataFrame (ignoring non-numeric columns)
max_value = df_total.select_dtypes(include=['float', 'int']).max().max()

print(f'Highest number in the dataset: {max_value}')

# can do int8 cause the max value is 5

Highest number in the dataset: 5

In [241]:
# change datatypes of the columns

# Convert all float64 and int64 columns to int8
df_total = df_total.astype({col: 'int8' for col in df_total.select_dtypes(include=['float64', 'int64']).columns})

# Convert all object columns to category
df_total = df_total.astype({col: 'category' for col in df_total.select_dtypes(include=['object']).columns})

In [242]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500000 entries, 0 to 2499999
Data columns (total 31 columns):
 #   Column                  Dtype
---  ------                  -----
 0   ResponseID              category
 1   UserID                  int8
 2   Intervention            int8
 3   PedPed                  int8
 4   Barrier                 int8
 5   CrossingSignal          int8
 6   AttributeLevel          category
 7   ScenarioTypeStrict      category
 8   NumberOfCharacters      int8
 9   DiffNumberOFCharacters  int8
 10  Saved                   int8
 11  Man                     int8
 12  Woman                   int8
 13  Pregnant                int8
 14  Stroller                int8
 15  OldMan                  int8
 16  OldWoman                int8
 17  Boy                     int8
 18  Girl                    int8
 19  Homeless                int8
 20  LargeWoman              int8
 21  LargeMan                int8
 22  Criminal                int8
 23  MaleExecutive           int8
 24  FemaleExecutive         int8
 25  FemaleAthlete           int8
 26  MaleAthlete             int8
 27  FemaleDoctor            int8
 28  MaleDoctor              int8
 29  Dog                     int8
 30  Cat                     int8
dtypes: category(3), int8(28)
memory usage: 122.8 MB

In [243]:
# resetting index
df_total = df_total.reset_index(drop=True)

In [244]:
df_total.head()

,ResponseID,UserID,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,Saved,Man,Woman,Pregnant,Stroller,OldMan,OldWoman,Boy,Girl,Homeless,LargeWoman,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,res_01054459,0,1,0,0,0,Old,Age,4,0,0,0,1,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,res_01283396,0,1,0,1,0,Young,Age,2,0,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,res_00338990,1,1,1,0,0,Female,Gender,2,0,1,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,res_00635659,1,1,0,0,1,Fat,Fitness,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
4,res_00632539,1,1,1,0,0,More,Utilitarian,5,1,1,0,0,0,0,0,0,0,0,0,1,2,0,0,0,0,0,1,0,0,1

In [245]:
# saving the dataset
df_total.to_csv('total_50_dataset.csv', index=False)

## Mme Non-Western & llm's

In [1]:
 # reading datasets

import pandas as pd

df_nw = pd.read_csv('nw_50_dataset.csv')

In [2]:
df_nw.shape

(1250000, 31)

In [3]:
df_nw.duplicated().sum()

0

In [4]:
# using the df_llm_sub dataset of 100000 from above

In [13]:
df_llm_sub.shape

(1250000, 31)

In [14]:
# concatanating the datasets, with mme later cause of ResponseID, and resetting the index

df_concat = pd.concat([df_llm_sub, df_nw], axis=0)
df_total_complete_nw = df_concat.reset_index(drop=True)

In [15]:
df_total_complete_nw.shape

(2500000, 31)

In [16]:
df_total_complete_nw.head()

,ResponseID,UserID,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,...,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,res_00000000,1,0,0,1,0,Hoomans,Species,3,0,...,0,0,0,0,0,0,1,0,0,0
1,res_00000000,1,1,0,0,0,Pets,Species,3,0,...,0,0,0,0,0,0,0,0,1,2
2,res_00000001,1,0,0,1,0,Male,Gender,2,0,...,0,0,0,0,0,0,0,0,0,0
3,res_00000001,1,1,0,0,2,Female,Gender,2,0,...,0,0,0,0,0,0,0,0,0,0
4,res_00000002,1,1,1,0,2,Young,Age,1,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
df_total_complete_nw.tail()

,ResponseID,UserID,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,...,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
2499995,res_01398561,0,1,0,1,0,Male,Gender,3,0,...,0,0,0,0,0,0,0,0,0,0
2499996,res_01398562,0,1,0,0,2,More,Utilitarian,5,3,...,1,0,0,1,0,0,1,1,0,0
2499997,res_01398563,0,1,1,0,2,Male,Gender,1,0,...,0,0,0,0,0,0,0,0,0,0
2499998,res_01398564,0,1,0,1,0,Female,Gender,5,0,...,0,0,0,0,2,0,1,0,0,0
2499999,res_01398565,0,1,1,0,1,Less,Utilitarian,1,4,...,0,0,0,0,0,0,0,0,0,0

In [18]:
df_total_complete_nw.columns

Index(['ResponseID', 'UserID', 'Intervention', 'PedPed', 'Barrier',
       'CrossingSignal', 'AttributeLevel', 'ScenarioTypeStrict',
       'NumberOfCharacters', 'DiffNumberOFCharacters', 'Saved', 'Man', 'Woman',
       'Pregnant', 'Stroller', 'OldMan', 'OldWoman', 'Boy', 'Girl', 'Homeless',
       'LargeWoman', 'LargeMan', 'Criminal', 'MaleExecutive',
       'FemaleExecutive', 'FemaleAthlete', 'MaleAthlete', 'FemaleDoctor',
       'MaleDoctor', 'Dog', 'Cat'],
      dtype='object')

In [19]:
# checking the missing values

df_total_complete_nw.isnull().sum()

ResponseID                0
UserID                    0
Intervention              0
PedPed                    0
Barrier                   0
CrossingSignal            0
AttributeLevel            0
ScenarioTypeStrict        0
NumberOfCharacters        0
DiffNumberOFCharacters    0
Saved                     0
Man                       0
Woman                     0
Pregnant                  0
Stroller                  0
OldMan                    0
OldWoman                  0
Boy                       0
Girl                      0
Homeless                  0
LargeWoman                0
LargeMan                  0
Criminal                  0
MaleExecutive             0
FemaleExecutive           0
FemaleAthlete             0
MaleAthlete               0
FemaleDoctor              0
MaleDoctor                0
Dog                       0
Cat                       0
dtype: int64

In [20]:
df_total_complete_nw['UserID'].value_counts()

UserID
1    1250000
0    1250000
Name: count, dtype: int64

In [21]:
# checking if 2% is llm
df_total_complete_nw['UserID'].value_counts(normalize=True)

# yes it is true (because of the removal of 2 NAN rows, the % is actually 2.0000002725%, but that is close enough to 2%)

UserID
1    0.5
0    0.5
Name: proportion, dtype: float64

In [22]:
# randomly shuffling the dataset so that not all llm's are on top of the dataset

df_total_nw = df_total_complete_nw.sample(frac=1, random_state=42).reset_index(drop=True)

In [23]:
dupli_nw = df_total_nw.duplicated().sum()

In [24]:
print(f"Number of duplicates: {dupli_nw}")

Number of duplicates: 0

In [25]:
print(df_total_nw['ResponseID'].value_counts().min())
print(df_total_nw['ResponseID'].value_counts().max())

2
2

In [26]:
df_total_nw.head()

,ResponseID,UserID,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,...,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,res_00917672,0,1,1,0,0,Female,Gender,5,0,...,0,0,0,1,1,0,0,0,0,0
1,res_01034969,0,1,0,1,0,Fit,Fitness,2,0,...,0,0,0,0,1,1,0,0,0,0
2,res_00338990,1,1,1,0,0,Female,Gender,2,0,...,0,0,0,0,0,0,0,0,0,0
3,res_00635659,1,1,0,0,1,Fat,Fitness,1,0,...,1,0,0,0,0,0,0,0,0,0
4,res_00632539,1,1,1,0,0,More,Utilitarian,5,1,...,2,0,0,0,0,0,1,0,0,1

In [27]:
df_total_nw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500000 entries, 0 to 2499999
Data columns (total 31 columns):
 #   Column                  Dtype
---  ------                  -----
 0   ResponseID              object
 1   UserID                  int64
 2   Intervention            int64
 3   PedPed                  int64
 4   Barrier                 int64
 5   CrossingSignal          int64
 6   AttributeLevel          object
 7   ScenarioTypeStrict      object
 8   NumberOfCharacters      int64
 9   DiffNumberOFCharacters  int64
 10  Saved                   int64
 11  Man                     float64
 12  Woman                   int64
 13  Pregnant                int64
 14  Stroller                int64
 15  OldMan                  int64
 16  OldWoman                int64
 17  Boy                     int64
 18  Girl                    int64
 19  Homeless                int64
 20  LargeWoman              int64
 21  LargeMan                int64
 22  Criminal                int64
 23  MaleExecutive           int64
 24  FemaleExecutive         int64
 25  FemaleAthlete           int64
 26  MaleAthlete             int64
 27  FemaleDoctor            int64
 28  MaleDoctor              int64
 29  Dog                     int64
 30  Cat                     int64
dtypes: float64(1), int64(27), object(3)
memory usage: 591.3+ MB

In [28]:
# Get the maximum float value across the entire DataFrame (ignoring non-numeric columns)
max_value = df_total_nw.select_dtypes(include=['float', 'int']).max().max()

print(f'Highest number in the dataset: {max_value}')

Highest number in the dataset: 5.0

In [29]:
# change datatypes of the columns

# Convert all float64 and int64 columns to int16
df_total_nw = df_total_nw.astype({col: 'int8' for col in df_total_nw.select_dtypes(include=['float64', 'int64']).columns})

# Convert all object columns to category
df_total_nw = df_total_nw.astype({col: 'category' for col in df_total_nw.select_dtypes(include=['object']).columns})

In [30]:
df_total_nw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500000 entries, 0 to 2499999
Data columns (total 31 columns):
 #   Column                  Dtype
---  ------                  -----
 0   ResponseID              category
 1   UserID                  int8
 2   Intervention            int8
 3   PedPed                  int8
 4   Barrier                 int8
 5   CrossingSignal          int8
 6   AttributeLevel          category
 7   ScenarioTypeStrict      category
 8   NumberOfCharacters      int8
 9   DiffNumberOFCharacters  int8
 10  Saved                   int8
 11  Man                     int8
 12  Woman                   int8
 13  Pregnant                int8
 14  Stroller                int8
 15  OldMan                  int8
 16  OldWoman                int8
 17  Boy                     int8
 18  Girl                    int8
 19  Homeless                int8
 20  LargeWoman              int8
 21  LargeMan                int8
 22  Criminal                int8
 23  MaleExecutive           int8
 24  FemaleExecutive         int8
 25  FemaleAthlete           int8
 26  MaleAthlete             int8
 27  FemaleDoctor            int8
 28  MaleDoctor              int8
 29  Dog                     int8
 30  Cat                     int8
dtypes: category(3), int8(28)
memory usage: 122.8 MB

In [31]:
df_total_nw.to_csv('total_nw_50_dataset.csv', index=False)

## MME deleted & llm's

In [ ]:
df_total_deleted = pd.read_csv('deleted_dataset.csv')

In [78]:
df_total_deleted.shape

(2500000, 31)

In [79]:
df_total_deleted.head()

,ResponseID,UserID,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,Saved,Man,Woman,Pregnant,Stroller,OldMan,OldWoman,Boy,Girl,Homeless,LargeWoman,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,res_00000000,1,0,0,1,0,Hoomans,Species,3.0,0.0,0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,res_00000000,1,1,0,0,0,Pets,Species,3.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0
2,res_00000001,1,0,0,1,0,Male,Gender,2.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,res_00000001,1,1,0,0,2,Female,Gender,2.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,res_00000002,1,1,1,0,2,Young,Age,1.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [80]:
df_total_deleted.tail()

,ResponseID,UserID,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,Saved,Man,Woman,Pregnant,Stroller,OldMan,OldWoman,Boy,Girl,Homeless,LargeWoman,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
2499995,res_01398561,0,1,0,1,0,Pets,Species,5.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0
2499996,res_01398562,0,1,1,0,0,Young,Age,3.0,0.0,1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2499997,res_01398563,0,1,0,0,1,Female,Gender,1.0,0.0,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2499998,res_01398564,0,1,1,0,1,Female,Gender,3.0,0.0,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2499999,res_01398565,0,1,0,1,0,Less,Utilitarian,4.0,1.0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0

In [81]:
df_total_deleted.columns

Index(['ResponseID', 'UserID', 'Intervention', 'PedPed', 'Barrier',
       'CrossingSignal', 'AttributeLevel', 'ScenarioTypeStrict',
       'NumberOfCharacters', 'DiffNumberOFCharacters', 'Saved', 'Man', 'Woman',
       'Pregnant', 'Stroller', 'OldMan', 'OldWoman', 'Boy', 'Girl', 'Homeless',
       'LargeWoman', 'LargeMan', 'Criminal', 'MaleExecutive',
       'FemaleExecutive', 'FemaleAthlete', 'MaleAthlete', 'FemaleDoctor',
       'MaleDoctor', 'Dog', 'Cat'],
      dtype='object')

In [82]:
# checking the missing values

df_total_deleted.isnull().sum()

ResponseID                0
UserID                    0
Intervention              0
PedPed                    0
Barrier                   0
CrossingSignal            0
AttributeLevel            0
ScenarioTypeStrict        0
NumberOfCharacters        0
DiffNumberOFCharacters    0
Saved                     0
Man                       0
Woman                     0
Pregnant                  0
Stroller                  0
OldMan                    0
OldWoman                  0
Boy                       0
Girl                      0
Homeless                  0
LargeWoman                0
LargeMan                  0
Criminal                  0
MaleExecutive             0
FemaleExecutive           0
FemaleAthlete             0
MaleAthlete               0
FemaleDoctor              0
MaleDoctor                0
Dog                       0
Cat                       0
dtype: int64

In [83]:
df_total_deleted['UserID'].value_counts()

UserID
1    1250000
0    1250000
Name: count, dtype: int64

In [84]:
# checking if 2% is llm
df_total_deleted['UserID'].value_counts(normalize=True)

# yes it is true (because of the removal of 2 NAN rows, the % is actually 2.0000002725%, but that is close enough to 2%)

UserID
1    0.5
0    0.5
Name: proportion, dtype: float64

In [85]:
# randomly shuffling the dataset so that not all llm's are on top of the dataset

df_total_deleted = df_total_deleted.sample(frac=1, random_state=42).reset_index(drop=True)

In [86]:
dupli_del = df_total_deleted.duplicated().sum()

In [87]:
print(f"Number of duplicates: {dupli_del}")

Number of duplicates: 0

In [88]:
print(df_total_deleted['ResponseID'].value_counts().min())
print(df_total_deleted['ResponseID'].value_counts().max())

2
2

In [89]:
df_total_deleted.head()

,ResponseID,UserID,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,Saved,Man,Woman,Pregnant,Stroller,OldMan,OldWoman,Boy,Girl,Homeless,LargeWoman,LargeMan,Criminal,MaleExecutive,FemaleExecutive,FemaleAthlete,MaleAthlete,FemaleDoctor,MaleDoctor,Dog,Cat
0,res_00917458,0,1,0,0,1,Less,Utilitarian,3.0,2.0,0,0.0,0.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,res_01034401,0,1,0,1,0,Fat,Fitness,4.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,res_00336711,1,1,1,0,0,Less,Utilitarian,2.0,3.0,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,res_00634875,1,1,0,0,2,Hoomans,Species,4.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,res_00631732,1,0,0,0,1,More,Utilitarian,5.0,2.0,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0

In [90]:
df_total_deleted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500000 entries, 0 to 2499999
Data columns (total 31 columns):
 #   Column                  Dtype
---  ------                  -----
 0   ResponseID              object
 1   UserID                  int64
 2   Intervention            int64
 3   PedPed                  int64
 4   Barrier                 int64
 5   CrossingSignal          int64
 6   AttributeLevel          object
 7   ScenarioTypeStrict      object
 8   NumberOfCharacters      float64
 9   DiffNumberOFCharacters  float64
 10  Saved                   int64
 11  Man                     float64
 12  Woman                   float64
 13  Pregnant                float64
 14  Stroller                float64
 15  OldMan                  float64
 16  OldWoman                float64
 17  Boy                     float64
 18  Girl                    float64
 19  Homeless                float64
 20  LargeWoman              float64
 21  LargeMan                float64
 22  Criminal                float64
 23  MaleExecutive           float64
 24  FemaleExecutive         float64
 25  FemaleAthlete           float64
 26  MaleAthlete             float64
 27  FemaleDoctor            float64
 28  MaleDoctor              float64
 29  Dog                     float64
 30  Cat                     float64
dtypes: float64(22), int64(6), object(3)
memory usage: 591.3+ MB

In [95]:
# Get the maximum float value across the entire DataFrame (ignoring non-numeric columns)
max_value = df_total_deleted.select_dtypes(include=['float', 'int']).max().max()

print(f'Highest number in the dataset: {max_value}')

Highest number in the dataset: 5.0

In [96]:
# change datatypes of the columns

# Convert all float64 and int64 columns to int16
df_total_deleted = df_total_deleted.astype({col: 'int8' for col in df_total_deleted.select_dtypes(include=['float64', 'int64']).columns})

# Convert all object columns to category
df_total_deleted = df_total_deleted.astype({col: 'category' for col in df_total_deleted.select_dtypes(include=['object']).columns})

In [97]:
df_total_deleted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500000 entries, 0 to 2499999
Data columns (total 31 columns):
 #   Column                  Dtype
---  ------                  -----
 0   ResponseID              category
 1   UserID                  int8
 2   Intervention            int8
 3   PedPed                  int8
 4   Barrier                 int8
 5   CrossingSignal          int8
 6   AttributeLevel          category
 7   ScenarioTypeStrict      category
 8   NumberOfCharacters      int8
 9   DiffNumberOFCharacters  int8
 10  Saved                   int8
 11  Man                     int8
 12  Woman                   int8
 13  Pregnant                int8
 14  Stroller                int8
 15  OldMan                  int8
 16  OldWoman                int8
 17  Boy                     int8
 18  Girl                    int8
 19  Homeless                int8
 20  LargeWoman              int8
 21  LargeMan                int8
 22  Criminal                int8
 23  MaleExecutive           int8
 24  FemaleExecutive         int8
 25  FemaleAthlete           int8
 26  MaleAthlete             int8
 27  FemaleDoctor            int8
 28  MaleDoctor              int8
 29  Dog                     int8
 30  Cat                     int8
dtypes: category(3), int8(28)
memory usage: 122.8 MB

In [98]:
df_total_deleted.to_csv('total_deleted_50_dataset.csv', index=False)